{% extends "base.html" %}
{% block title %} demo2 {% endblock %}

{% block start %}
<h2>This is my demo2 page</h2>
<h4>Below paragraph written by {{ name }}</h4>
<p>Technology has significantly changed the way we live and work. From the rise of the internet to the rapid development of artificial intelligence, technology continues to shape our world in profound ways. While many of these innovations offer great benefits, they also bring challenges that require careful consideration. As we move forward, it’s essential that we embrace these changes while also addressing the ethical and social implications they bring.</p>
</p>
{% endblock %}